In [1]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('P503_5.ATAC.peaks.TF.info.txt', "\t")
df

/Users/sergiomares/miniconda3/envs/tf/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3369: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Chr,c1,c2,chr0,tf_c1,tf_c2,tf_name,Unnamed: 7,num,Unnamed: 9,strand
0,chr1,79092,79785,chr1,79271,79291,MA0073.1.RREB1,18.996666,+,NaN,NaN
1,chr1,79092,79785,chr1,79271,79292,MA0528.1.ZNF263,12.743255,-,NaN,NaN
2,chr1,79092,79785,chr1,79273,79293,MA0073.1.RREB1,10.049442,+,NaN,NaN
3,chr1,79092,79785,chr1,79275,79295,MA0073.1.RREB1,13.978526,+,NaN,NaN
4,chr1,79092,79785,chr1,79324,79341,MA0685.1.SP4,5.114748,+,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
843556,chrY,59032360,59033135,chrY,59032641,59032656,MA0150.2.Nfe2l2,11.412948,-,NaN,NaN
843557,chrY,59032360,59033135,chrY,59032644,59032655,MA1110.1.NR1H4,11.946463,-,NaN,NaN
843558,chrY,59032360,59033135,chrY,59032723,59032737,MA0835.1.BATF3,1.230928,-,NaN,NaN
843559,chrY,59032360,59033135,chrY,59032849,59032862,MA1124.1.ZNF24,20.763831,-,NaN,NaN
843560,chrY,59032360,59033135,chrY,59032853,59032866,MA1124.1.ZNF24,15.574043,-,NaN,NaN

In [35]:
Modules = pd.read_csv('LinkageModulePeaks.csv')
Modules

,Peak,chr,start,end,FDR,Genes,Genes_n,Module
0,chr7:140335570-140336070,chr7,140335570,140336070,3.075460e-27,DENND2A,1,indianred3
1,chr7:32656120-32656620,chr7,32656120,32656620,3.067850e-26,"RP9P, RP9",2,indianred3
2,chr2:28903844-28904344,chr2,28903844,28904344,3.806770e-26,WDR43,1,indianred3
3,chr8:27510037-27510537,chr8,27510037,27510537,6.517310e-26,CLU,1,indianred3
4,chr7:129471198-129471698,chr7,129471198,129471698,1.240630e-25,ZC3HC1,1,indianred3
...,...,...,...,...,...,...,...,...
29258,chr17:4805026-4805526,chr17,4805026,4805526,8.263630e-10,"ARRB2, ZMYND15, MINK1",3,lavenderblush3
29259,chr14:65183530-65184030,chr14,65183530,65184030,1.705860e-09,"CHURC1-FNTB, FNTB",2,lavenderblush3
29260,chr1:36866543-36867043,chr1,36866543,36867043,1.794310e-09,CSF3R,1,lavenderblush3
29261,chrX:155110699-155111199,chrX,155110699,155111199,2.056350e-09,VAMP7,1,lavenderblush3
29262,chr17:56406788-56407288,chr17,56406788,56407288,4.615350e-09,"TSPOAP1, TSPOAP1-AS1",2,lavenderblush3